<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Sole Mate Finder</title>
</head>
<body>
    <div class="container">


        <h4>helloooo!</h4>
        <!-- <div class="jumbotron">
            <h1>Welcome to Pot Rud Uni</h1>
        </div>

        <h3><a href="/shoes">Look up shoes by brand</a></h3>
        <h3><a href="/stores">Look up shoes by store</a></h3> -->
    </div>

</body>
</html>
