<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Store Edit</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">

                <form action="/store/{{ store.getId }}" method="post">
                    <input type="hidden" name="_method" value="patch">
                    <label for="location">New Store Name:</label>
                    <input type="text" name="location">
                    <button type="submit">Save</button>
                </form>

            </div>
        </div>
    </body>
</html>
