<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Store Edit</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">

            </div>
        </div>
    </body>
</html>
