<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Sole Mate Finder</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Sole Seeker</h1>
        <h3>Soles by Shoe</h3>
      </div>

      {% if shoes is not empty %}
        <p>Shoes in our system:</p>
        <ul>
          {% for shoe in shoes %}
            <li><a href="shoe/{{ shoe.getId }}">{{ shoe.getBrand }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <p>There aren't any shoes yet! Maybe we need to target the Tupperware Party type of crowd...</p>
      {% endif %}
      <div class="well">

        <form action="/shoes" method="post">
          <label for="brand">Please enter your favorite shoe:</label>
          <input type="text" name="brand" required>
          <label for="price">Please enter the shoe price:</label>
          <input type="number" name="price" required>

          <button type="submit" name="btn btn-success">SOLE FOUND</button>

        </form>

        <a href="/remove_shoes">remove all of your shoes</a>

      </div>
      <div class="well">
          <a href="/">Home</a> |||
          <a href="/stores">Go to Stores</a> |||
      </div>
    </div>
  </body>
</html>
