<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Sole Mate Finder</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Sole Seeker</h1>
        <h3>Soles by Shoe</h3>
      </div>

      <p>Dis where the shoes live</p>

      </div>
      <h6><a href="/">return home</a></h6>
    </div>
  </body>
</html>
