<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Sole Mate Finder</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Sole Seeker</h1>
            <h3>Soles by Store</h3>
        </div>

        {% if stores is not empty %}
            <p>Stores participating in our program:</p>
            <ul>
                {% for store in stores %}
                    <li><a href="store/{{ store.getId }}">{{ store.getStore }}</a></li>



                {% endfor %}
            </ul>
            {% else %}
            <p>There aren't any stores yet! Maybe we need to target the Tupperware Party type of crowd...</p>
        {% endif %}
        <div class="well">

            <form action="/stores" method="post">
                <label for="store">Please enter the store you found your sole mate at:</label>
                <input type="text" name="store">
                <button type="submit" name="btn btn-success">SOLE FOUND</button>

            </form>

        </div>




        <h6><a href="/">return home</a></h6>
    </div>

</body>
</html>
